<h2 class="my-4"><%= t(:chosse_your_pizza) %>
  <small><%= t(:and_do_it_to_your_liking) %></small>
</h2>
<% @pizzas.each do |pizza| %>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag("pizza.png", class: "img-fluid rounded mb-3 mb-md-0") %>
    </div>
    <div class="col-md-7">
      <h3><%= pizza.name %></h3>
      <p><%= pizza.description %></p>
      <%= link_to(t(:customize), pizza_path(pizza.id), class: "btn btn-success") %>
    </div>
  </div>
<% end %>
